<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../static/css/normalize.min.css">
        <link rel="stylesheet" href="../static/css/main.css">

        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">h1.title</h1>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('add') }}">ADD URL</a></li>
                        <li><a href="#">nav ul li a</a></li>
                        <li><a href="#">nav ul li a</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
                <aside>
                    <h3> :D </h3>
                    <p>.</p>
                </aside>
                <header>
                        <h1>10 reasons PANACLOUD should hire me</h1>
                        <pre>10

I have a BEARD.

9.
You can always trust a man with a Beard, Did I mention I have a
Beard? Ido.

8.
I have invested over 8 hours of my own to create a web app that
would get you to notice me. I haven't been this
desperate to get someone to notice me since my first school crush.

7.
I more or less already work for Google, I spend hours every day
working in Google Chrome, Google Gmail, Google Reader, Google
Calendar, Google Search, Google Maps, Google Navigation, Google
Places, Google YouTube and more.

6.
Just like Panacloud I do no evil. Well, except on the weekends.

5.
I make great DOODH PATTI.

4.
I work well in teams, I can communicate with members
to meet objectives and I pay attention to detail.

3.
Technology and books are my best friends. In full disclosure,
 I have no friends... so technology and books kind of won by default.

2.
I really can't stress enough that you should hire me solely on the fact
that I have a Beard, regardless of whether or not it's real.

1.
This isn't for the LOLs. I'm actually in this to win it. I am doing Bachelors
in actuarial science from Karachi University,currently in 5th semester,and
I am in SAYLANI AI batch too,i have been practicing python since 1.5 years
Being a student of actuarial science i am good in statistics and
Mathematics,  I believe my proven academic record(see here),my
passion for DATA and my obsession with technology can
bring significant value to your AI team.
                            .</pre>
                    </header>
                    <section>
                        <h2>article section h2</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
                    </section>
                    <section>
                        <h2>article section h2</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
                    </section>
                    <footer>
                        <h3>article footer h3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.</p>
                    </footer>


            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>footer</h3>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/main.js"></script>
    </body>
</html>
